body {
  background: rgb(255, 0, 255);
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 70px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.5s;
  font-size: 30px;
  background: rgb(222, 222, 253);
}

.operator {
  background: purple;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 70px;
  border: 1px solid black;
  font-size: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.operator:hover {
  transition: 0.5s;
  background: rgb(168, 97, 168);
}
.number:hover {
  background: rgb(167, 167, 235);
  transition: 0.5s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  height: 500px;
  width: 500px;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.screen {
  background: rgb(0, 0, 0);
  height: 100px;
  width: 340px;
  color: rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  margin-left: 70px;
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.clear {
  width: 500px;
}
.clear button {
  width: 360px;
  background: white;
  color: black;
  margin-left: 70px;
}

