body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.buttons button {
  font-size: 40px;
  width: 140px;
  height: 100px;
  background-color: rgb(197, 197, 216);
  transition: 0.5s;
  color: rgb(0, 0, 0);
}
.buttons button:hover {
  background-color: rgb(197, 197, 216, 0.5);
  transition: 0.5s;
}
.button.equals {
  background-color: rgb(88, 88, 250);

  width: 280px;
}
.button.AC {
  width: 280px;
  background-color: rgb(88, 88, 250);
}
.button.AC:hover {
  background-color: rgb(88, 88, 250, 0.5);
}
.button.operation {
  background-color: rgb(88, 88, 250);
}
.button.operation:hover {
  background-color: rgb(88, 88, 250, 0.5);
}
button.equals:hover {
  background-color: rgb(88, 88, 250, 0.5);
}
.buttons {
  width: 600px;
}
.container {
  width: 560px;
  height: 650px;
  flex-direction: column;
}
.output {
  border: 1px solid black;
  background-color: rgb(197, 197, 216, 0.5);

  display: flex;
  width: 600;
  height: 100px;
  text-align: right;
  justify-content: flex-start;
  flex-direction: column;
}
.current {
  font-size: 40px;
}
.prev {
  font-size: 30px;
}
